.paper > pre {
    width: 560px;
    overflow: auto;
}

hr {
    border-top: 1px solid grey;
}

table.pub_table,td.pub_td1,td.pub_td2
	{
		border-collapse: collapse;
		border-bottom: 0px solid #9B9B9B;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 10px;
        margin-top: 5px;
		width: 100%;
	}


.tab1 td{
	border:1px solid #eceaea;
	border-collapse:collapse;
	text-align: center;
	padding: 5px;	
}

.tab1 th{
	border:1px solid #eceaea;
	border-collapse:collapse;
	text-align: center;
	padding: 5px;
}

.tab1 {
	table-layout:fixed;word-break:break-all;
}

.scholar-badge {
	display: inline-flex;
	align-items: center;
	background: #2e7eff;
	color: white;
	/* font-family: Arial, sans-serif; */
	font-size: 10px;
	padding: 2px 6px;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
	transition: background 0.3s ease, box-shadow 0.3s ease;
	vertical-align: middle;
}

.scholar-badge:hover {
	/* background: #3367D6; */
	box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.scholar-badge img {
	width: 10px;
	height: 10px;
	margin-right: 4px;
}