<div class="container">
  <!-- include: partials/header.html -->
  <div class="home-profile col-md-12">
    <div class="profile-sidebar col-md-offset-1x col-md-2">
      <div class="selfie">
        <img alt="profile photo" src="images/people_img/selfie2024.jpg" />
      </div>

      <div class="social-icons">
        <a href="mailto:liyuezun@ouc.edu.cn" class="icon-link">
          <i class="fa fa-envelope"></i>
        </a>
        <a
          href="https://scholar.google.com/citations?user=v0Qt7BAAAAAJ&amp;hl=en"
          class="icon-link"
        >
          <i class="fa-solid fa-graduation-cap"></i>
        </a>

        <a href="https://github.com/yuezunli" class="icon-link">
          <i class="fa-brands fa-github"></i>
        </a>

        <a href="Academic_CV_lyz_2026.pdf" class="icon-link" target="_blank">
          <i class="fa-solid fa-file-lines"></i>
        </a>
      </div>
    </div>

    <div class="col-md-offset-1x col-md-9">
      <p>
        I am an Associate Professor at Ocean University of China, where I lead the
        <a href="lab.html">Visual Analysis &amp; Security (VAS) Lab</a>. My research focuses on
        <em>Trustworthy Visual Intelligence</em>, with particular interests in multimedia forensics,
        vision security, and machine learning. My work has been published in leading venues with
        over
        <a href="https://scholar.google.com/citations?user=v0Qt7BAAAAAJ&amp;hl=en"
          ><img
            src="https://img.shields.io/endpoint?url=https%3A%2F%2Fcdn.jsdelivr.net%2Fgh%2Fyuezunli%2Fyuezunli.github.io%40google-scholar-stats%2Fgs_data_shieldsio.json&amp;logo=Google%20Scholar&amp;labelColor=f6f6f6&amp;color=9cf&amp;style=flat&amp;label=citations"
        /></a>
        , including several works with more than
        <em
          ><span
            class="low_bound_citations"
            data="v0Qt7BAAAAAJ:_xSYboBqXhAC;v0Qt7BAAAAAJ:35N4QoGY0k4C;v0Qt7BAAAAAJ:_Ybze24A_UAC;v0Qt7BAAAAAJ:g5m5HwL7SMYC"
          ></span
        ></em>
        citations each (
        <a
          href="http://openaccess.thecvf.com/content_CVPR_2020/html/Li_Celeb-DF_A_Large-Scale_Challenging_Dataset_for_DeepFake_Forensics_CVPR_2020_paper.html"
          >CVPR20</a
        >,
        <a
          href="http://openaccess.thecvf.com/content_CVPRW_2019/papers/Media%20Forensics/Li_Exposing_DeepFake_Videos_By_Detecting_Face_Warping_Artifacts_CVPRW_2019_paper.pdf"
          >CVPRW19</a
        >, <a href="https://ieeexplore.ieee.org/abstract/document/8683164/">ICASSP19</a>,
        <a href="https://ieeexplore.ieee.org/abstract/document/8630787/">WIFS18</a>). The work of
        WIFS18 was also featured on
        <a href="https://tv.cctv.com/2019/04/28/VIDE0aLKiWV83f2PrbZDF4G0190428.shtml"
          >CCTV13’s "World Weekly" special on deepfakes</a
        >
        [7:43]. I have been recognized on Stanford/Elsevier Top 2% Scientists List (since 2023) and
        received the ACM Qingdao Rising Star Award (2024). I currently serve as an Associate Editor
        for
        <em>IEEE Transactions on Information Forensics and Security</em> and
        <em>Pattern Recognition</em>.

        <a href="http://it.ouc.edu.cn/lyz2/main.htm">[中 CN]</a>
      </p>

      <p>
        I received my Ph.D. in Computer Science from the University at Albany, SUNY in 2020 advised
        by
        <a href="https://cse.buffalo.edu/~siweilyu/">Siwei Lyu</a>
        (IEEE/IAPR/AAIA Fellow), and was subsequently a Senior Research Scientist at the University
        at Buffalo, SUNY. I received M.S. degree in 2015 and B.S. degree in 2012 at Shandong
        University.
      </p>
    </div>
  </div>

  <div class="home-news-section col-md-12">
    <h4 class="subhead">News</h4>
    <!-- include: index/news.html -->
  </div>
</div>
<hr />

<div class="container-fluid">
  <div class="visitor-map">
    <script
      type="text/javascript"
      id="mapmyvisitors"
      src="https://mapmyvisitors.com/map.js?cl=ffffff&amp;w=a&amp;t=m&amp;d=bh3fgFAbucBbHvyVovqQwVmagcYC8FEi3AWscCWrDs4"
    ></script>
  </div>
</div>

<script src="js/loadcitations.js"></script>


