<div class="container">
  <!-- include: partials/header.html -->
  <div class="home-profile col-md-12">
    <div class="profile-sidebar col-md-2">
      <div class="selfie">
        <img alt="profile photo" src="images/people_img/selfie2024.jpg" />
      </div>

      <div class="social-icons">
        <a href="mailto:liyuezun@ouc.edu.cn" class="icon-link">
          <i class="fa fa-envelope"></i>
        </a>
        <a
          href="https://scholar.google.com/citations?user=v0Qt7BAAAAAJ&amp;hl=en"
          class="icon-link"
        >
          <i class="fa-solid fa-graduation-cap"></i>
        </a>

        <a href="https://github.com/yuezunli" class="icon-link">
          <i class="fa-brands fa-github"></i>
        </a>

        <a href="Academic_CV_lyz_2026.pdf" class="icon-link" target="_blank">
          <i class="fa-solid fa-file-lines"></i>
        </a>
      </div>
    </div>

    <div class="profile-intro col-md-10">
      <p>
        I am an Associate Professor at Ocean University of China, where I lead
        the
        <a href="lab.html">Visual Analysis &amp; Security (VAS) Lab</a>. My
        research focuses on <b>Trustworthy Visual Intelligence</b>, with
        particular interests in multimedia forensics, vision security, and
        machine learning. My work has been published in leading venues with over
        <a
          href="https://scholar.google.com/citations?user=v0Qt7BAAAAAJ&amp;hl=en"
          ><img
            src="https://img.shields.io/endpoint?url=https%3A%2F%2Fcdn.jsdelivr.net%2Fgh%2Fyuezunli%2Fyuezunli.github.io%40google-scholar-stats%2Fgs_data_shieldsio.json&amp;logo=Google%20Scholar&amp;labelColor=f6f6f6&amp;color=9cf&amp;style=flat&amp;label=citations"
        /></a>
        , including several works with
        <!-- <em
          ><span
            class="low_bound_citations"
            data="v0Qt7BAAAAAJ:_xSYboBqXhAC;v0Qt7BAAAAAJ:35N4QoGY0k4C;v0Qt7BAAAAAJ:_Ybze24A_UAC;v0Qt7BAAAAAJ:g5m5HwL7SMYC"
          ></span
        ></em> -->
        <em>thousands</em> of citations, one of which was featured on
        <a
          href="https://tv.cctv.com/2019/04/28/VIDE0aLKiWV83f2PrbZDF4G0190428.shtml"
          >CCTV13’s "World Weekly" special on deepfakes</a
        >
        [7:43]. I have been named to Stanford Top 2% Scientists List (since
        2023) and received the ACM Regional Rising Star Award (2024). I serve as
        an Associate Editor for
        <em>IEEE Transactions on Information Forensics and Security</em> and
        <em>Pattern Recognition</em>. I am a Senior Member of IEEE and CCF.
        <!-- <a href="http://it.ouc.edu.cn/lyz2/main.htm">[中 CN]</a> -->
      </p>

      <p>
        I received my Ph.D. degree from the University at Albany, SUNY in 2020
        advised by
        <a href="https://cse.buffalo.edu/~siweilyu/">Siwei Lyu</a>
        (IEEE/IAPR/AAIA Fellow), and was subsequently a Senior Research
        Scientist at the University at Buffalo, SUNY. I received M.S. degree in
        2015 and B.S. degree in 2012 at Shandong University.
      </p>
    </div>
  </div>

  <div class="home-news-section col-md-12">
    <h4 class="subhead">News</h4>
    <!-- include: index/news.html -->
  </div>
</div>
<hr />

<div class="container-fluid">
  <div class="visitor-map">
    <script
      type="text/javascript"
      id="mapmyvisitors"
      src="https://mapmyvisitors.com/map.js?cl=ffffff&amp;w=a&amp;t=m&amp;d=bh3fgFAbucBbHvyVovqQwVmagcYC8FEi3AWscCWrDs4"
    ></script>
  </div>
</div>

<script src="js/loadcitations.js"></script>
