<div class="container">
  <!-- include: partials/header.html -->
  <div class="tabs">
    <input type="radio" name="tab" id="tab1" checked />
    <label for="tab1" class="tab-btn">Home</label>

    <input type="radio" name="tab" id="tab2" />
    <label for="tab2" class="tab-btn">People</label>

    <input type="radio" name="tab" id="tab4" />
    <label for="tab4" class="tab-btn">Gallery</label>

    <input type="radio" name="tab" id="tab5" />
    <label for="tab5" class="tab-btn">Resources</label>

    <!-- include: lab/home.html -->

    <!-- include: lab/people.html -->

    <!-- include: lab/gallery.html -->

    <!-- include: lab/resources.html -->

  </div>
</div>
<hr />
<!-- <div id="site-footer"></div> -->

<!-- JavaScript -->
<script>
  function openModal(img) {
    document.getElementById("modalImg").src = img.src;
    document.getElementById("imageModal").style.display = "flex";
  }

  function closeModal() {
    document.getElementById("imageModal").style.display = "none";
  }
</script>


