<div class="container">
  <!-- include: partials/header.html -->
  <div class="col-md-12">
    <!-- <div class="paper-container"></div> -->

    <b>Editorial Service</b>

    <ul class="news-list">
      <li>
        Associate Editor, IEEE Transactions on Information Forensics and
        Security (2026–present)
      </li>
      <li>Associate Editor, Pattern Recognition (2026–present)</li>
    </ul>

    <b>Conference Service</b>

    <ul class="news-list">
      <li>Senior Program Committee (SPC) Member, AAAI 2027</li>
    </ul>

    <b>Professional Membership</b>

    <ul class="news-list">
      <li>Senior Member, IEEE</li>
      <li>Senior Member, CCF</li>
      <li>Member, ACM</li>
    </ul>

    <b>Academic Committee Membership</b>

    <ul class="news-list">
      <li>Member, CAAI Technical Committee on Machine Learning (CAAI-ML)</li>
      <li>
        Member, CAA Technical Committee on Pattern Recognition and Machine
        Intelligence (CAA-PRMI)
      </li>
      <li>Member, CSIG Technical Committee on Machine Vision (CSIG-MV)</li>
      <li>
        Member, CSIG Technical Committee on Digital Media Forensics and Security
        (CSIG-DMFSC)
      </li>
      <li>
        Member, CSIG Technical Committee on Biometrics Recognition (CSIG-BR)
      </li>
    </ul>

    <b>Reviewing Service</b>

    <p>
      Journals: IEEE TIFS, IEEE TPAMI, IEEE TIP, IEEE TNNLS, IEEE JSTSP, IEEE
      TMM, IEEE TETCI, IEEE TCSVT, IJCV, Pattern Recognition, etc.
    </p>

    <p>
      Conferences: CVPR, ICCV, ECCV, ICML, NeurIPS, ICLR, AAAI, ACM MM, BMVC,
      WACV, etc.
    </p>
  </div>
</div>
<hr />
<!-- <div id="site-footer"></div> -->

<!-- JavaScript -->
