      <div class="col-md-12">
        <!-- <div class="paper-container"></div> -->
        <ul class="news-list">
          <li>
            [2026.04]: I gave a talk on
            <u>Generalizable Face Forgery Detection</u> at MAS 2026.
          </li>
          <li>
            [2025.10]: I gave a talk on
            <u>Advances on Visual Forensics</u> at PRCV 2025.
          </li>
          <li>
            [2025.01]: I gave a talk on <u>Face Forensics in the Wild</u> at the
            CSIG Young Scholars Forum 2025.
          </li>
          <li>
            [2024.11]: Organizing the <u>Biometric Security Forum</u> at CCBR
            2024.
          </li>
          <li>
            [2024.11]: I gave a talk on
            <u>Face Forensics in Real-world Scenarios</u> at the Young Scholars
            Forum of the Shandong Computer Vision Conference.
          </li>
          <li>
            [2023.11]: I gave a talk on
            <u>D3: DeepFake Detection and Defense</u> at the Academic
            Up-and-coming Talent Forum in CSIG ChinaFMS 2023.
          </li>
          <li>
            [2022.12]: I gave a talk on
            <u>Research Progress in Artificial Intelligence Security</u> at CCBR
            2022.
          </li>
          <li>
            [2022.07]: I gave a tutorial talk on
            <u>DeepFake Creation, Detection, and Obstruction</u> at ICME 2022.
          </li>
          <li>
            [2021.06]: I gave a tutorial talk on
            <u>DeepFake Generation and Detection</u> at ICASSP 2021.
          </li>
          <li>
            [2021.08]: I gave a tutorial talk on
            <u>Detecting AI-Synthesized Faces</u>
            at IJCB 2021.
          </li>
        </ul>
      </div>
    </div>
    <hr />

    <!-- JavaScript -->
