<div>
  <table class="alumni">
    <tr>
      <th>Name</th>
      <th>Grade</th>
      <th>Program</th>
      <th>First job</th>
      <th>Achievements &nbsp;<br /></th>
    </tr>
    <tr>
      <td>Qingxuan Lv（吕清轩）</td>
      <td>2021-2025</td>
      <td>PhD</td>
      <td>青岛理工大学</td>
      <td>TIFS*1, TCSVT*2, National Scholarship*1</td>
    </tr>
    <tr>
      <td>Yunfei Li（李云飞）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>哈尔滨工业大学（读博）</td>
      <td>WACV*1 (Oral)</td>
    </tr>
    <tr>
      <td>Zengqiang Chen（陈增强）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>菏泽市招商局</td>
      <td>CCBR*1</td>
    </tr>
    <tr>
      <td>Ying Zhang（张迎）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>⼭东省农村信⽤社联合社</td>
      <td>BMVC*1</td>
    </tr>
    <tr>
      <td>Dongliang Zhang（张东亮）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>招银⽹络科技（杭州）</td>
      <td>ACCV*1</td>
    </tr>
    <tr>
      <td>Yangxiang Zhang（张仰祥）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>中国光⼤银⾏（⻘岛）</td>
      <td>BMVC*1</td>
    </tr>
    <tr>
      <td>Hanzhe Li（李汉哲）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>中国⼯商银⾏江⻄省分⾏</td>
      <td>NeurIPS*1, National Scholarship*1</td>
    </tr>
    <tr>
      <td>Xudong Wang（王旭东）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>美团（北京）</td>
      <td>ICME*1</td>
    </tr>
    <tr>
      <td>Jinkun Jiang（姜锦琨）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>中国海洋大学（读博）</td>
      <td>TIP*1</td>
    </tr>
    <tr>
      <td>Yang Yu（于阳）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>中国海洋大学（读博）</td>
      <td>TCSVT*1</td>
    </tr>
    <tr>
      <td>Tengjia Kang（康腾甲）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>哈尔滨工业大学（读博）</td>
      <td>PG*1, National Scholarship*1</td>
    </tr>
    <tr>
      <td>Jiucui Lu（陆久翠）</td>
      <td>2021-2024</td>
      <td>Master</td>
      <td><del>青岛城市学院</del><br />山东大学（读博）</td>
      <td>TIFS*1, ICME*1</td>
    </tr>
  </table>
</div>
