<!-- <div style="height: 1500px; overflow-y: auto"> -->
<div>
  <div class="entergallery-section">
    <h4>📅 2025</h4>
    <div class="entergallery">
      <div class="entergallery-item">
        <img
          src="images/entertain_img/2025.9_教师节合影.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2025-09 信息南楼 教师节合影</div>
      </div>

      <div class="entergallery-item">
        <img
          src="images/entertain_img/2025.6_VAS毕业照.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2025-06 信息南楼 VAS硕士毕业合影</div>
      </div>

      <div class="entergallery-item">
        <img
          src="images/entertain_img/2025.6_POVA硕士毕业.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2025-06 办公室 POVA硕士毕业合影</div>
      </div>

      <div class="entergallery-item">
        <img
          src="images/entertain_img/2025.5_大珠山_硕士毕业.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2025-05 大珠山 VAS硕士毕业合影1</div>
      </div>
    </div>
  </div>

  <div class="entergallery-section">
    <h4>📅 2024</h4>
    <div class="entergallery">
      <div class="entergallery-item">
        <img
          src="images/entertain_img/2024.11_ddl.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2024-11 CVPR DDL</div>
      </div>
      <div class="entergallery-item">
        <img
          src="images/entertain_img/2024.9_聚餐_1.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2024-09 VAS-聚餐合影</div>
      </div>
      <div class="entergallery-item">
        <img
          src="images/entertain_img/2024.06_硕士毕业.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2024-06 VAS-2021级硕士毕业合影</div>
      </div>
    </div>
  </div>

  <div class="entergallery-section">
    <h4>📅 2023</h4>
    <div class="entergallery">
      <div class="entergallery-item">
        <img
          src="images/entertain_img/2023.10_ouc.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2023-10 VAS-图书馆前合影</div>
      </div>
      <div class="entergallery-item">
        <img
          src="images/entertain_img/2023.5_SRDP国创_.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2023-05 本科SRDP国创小队合影</div>
      </div>
      <div class="entergallery-item">
        <img
          src="images/entertain_img/2023.4_dazhushan_.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">📷 2023-04 VAS-大珠山活动合影</div>
      </div>
    </div>
  </div>

  <div class="entergallery-section">
    <h4>😉 Funnies</h4>
    <div class="entergallery">
      <div class="entergallery-item">
        <img
          src="images/entertain_img/2024-01a.jpg"
          onclick="openModal(this)"
        />
        <div class="overlay">🎓 Accept蛋糕</div>
      </div>
      <div class="entergallery-item">
        <img src="images/entertain_img/slogan.jpg" onclick="openModal(this)" />
        <div class="overlay">🎓 Accept Flyer</div>
      </div>
      <div class="entergallery-item">
        <img src="images/entertain_img/slogan1.jpg" onclick="openModal(this)" />
        <div class="overlay">🎓 龙Accept Flyer</div>
      </div>
    </div>
  </div>
</div>
<!-- 图片预览弹窗 -->
<div class="modal" id="imageModal">
  <span class="close" onclick="closeModal()">&times;</span>
  <img id="modalImg" />
</div>
