<h4>Collaboration</h4>
<div class="collab-grid" id="collab-grid">
  <div class="collab-item">
    <img src="images/collab_img/UB.jpeg" />
  </div>
  <div class="collab-item">
    <img src="images/collab_img/UCHK-shenzhen.jpg" />
  </div>
  <div class="collab-item">
    <img src="images/collab_img/casia.jpg" />
  </div>
  <div class="collab-item">
    <img src="images/collab_img/HIT.jpeg" />
  </div>
  <div class="collab-item">
    <img src="images/collab_img/SZU.jpeg" />
  </div>
  <div class="collab-item">
    <img src="images/collab_img/XNjiaotong.jpeg" />
  </div>
  <div class="collab-item">
    <img src="images/collab_img/LEICESTER.jpg" />
  </div>
  <div class="collab-item">
    <img src="images/collab_img/Southampton.png" />
  </div>
  <div class="collab-item">
    <img src="images/collab_img/glasgow.png" />
  </div>
</div>
