<h4 class="subhead">PhD students</h4>
<div class="gallery">
  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/jiangjinkun.jpg" />
        <div class="people-item-badge">TIP*1</div>
      </div>
      <div class="description">
        <p>Jinkun Jiang</p>
        <p>姜锦琨</p>
        <p>2025 PhD</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/yuyang.jpg" />
        <div class="people-item-badge">TCSVT*1</div>
      </div>
      <div class="description">
        <p>Yang Yu</p>
        <p>于阳</p>
        <p>2025 PhD</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>
</div>

<h4 class="subhead">Master students</h4>
<div class="gallery">
  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/cuixinjie.jpg" />
        <div class="people-item-badge">TPAMI*1,CVPR*1</div>
      </div>
      <div class="description">
        <p>Xinjie Cui</p>
        <p>崔欣洁</p>
        <p>2023 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/yuanshuaiwei.jpg" />
        <div class="people-item-badge">CVPR*1</div>
      </div>
      <div class="description">
        <p>Shuaiwei Yuan</p>
        <p>袁帅威</p>
        <p>2023 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/zhudelong.jpg" />
        <div class="people-item-badge">TDSC*1</div>
      </div>
      <div class="description">
        <p>Delong Zhu</p>
        <p>朱德龙</p>
        <p>2023 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/fumengxin.png" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Mengxin Fu</p>
        <p>符梦鑫</p>
        <p>2024 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/zhangzhengxuan.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Zhengxuan Zhang</p>
        <p>张证炫</p>
        <p>2024 Master</p>
        <p>Image forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/weizihe.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Zihe Wei</p>
        <p>魏子贺</p>
        <p>2024 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/songkeji.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Keji Song</p>
        <p>宋科技</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/hujunmin.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Junmin Hu</p>
        <p>胡俊敏</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/huanghanqing.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Hanqing Huang</p>
        <p>黄汉卿</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/shangkairui.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Kairui Shang</p>
        <p>商恺瑞</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/wangxiang.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Xiang Wang</p>
        <p>王祥</p>
        <p>2025 Master</p>
        <p>Video forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/zhengzhiqiang.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Zhiqiang Zheng</p>
        <p>郑志强</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/wangbin.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Bin Wang</p>
        <p>王斌</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/wangxingping.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Xingping Wang</p>
        <p>王星苹</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/liuyixuan.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Yixuan Liu</p>
        <p>刘懿萱</p>
        <p>2025 Master</p>
        <p>Image forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/xiaokaiyuan.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Kaiyuan Xiao</p>
        <p>肖开元</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/laijunlin.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Junlin Lai</p>
        <p>赖俊霖</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/wanglei.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Lei Wang</p>
        <p>王蕾</p>
        <p>2025 Master</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/zhongyiwei.jpeg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Yiwei Zhong</p>
        <p>钟意伟</p>
        <p>2025 Master</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/qinjialong.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Qinjia Long</p>
        <p>秦佳龙</p>
        <p>2025 Master</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>
</div>
