<h4>📅 2026</h4>
<div class="gallery">
  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/AVPF" target="_blank"
        >AVPF (Arxiv'26)</a
      >
    </h4>
    <p>AVPF: Audio-Visual Pseudo-Fakes for Deepfake Detection.</p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/AVPF" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/AVPF" />
    </p>
  </div>
  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/ReVi" target="_blank"
        >ReVi (Arxiv'26)</a
      >
    </h4>
    <p>Off-the-shelf Vision Models Benefit Image Manipulation Localization.</p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/ReVi" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/ReVi" />
    </p>
  </div>
  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/DAF" target="_blank"
        >DAF (Arxiv'26)</a
      >
    </h4>
    <p>
      DAF: Detecting Diffusion-Generated Images via Dynamic Assembly Forests.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/DAF" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/DAF" />
    </p>
  </div>
</div>
<h4>📅 2025</h4>
<div class="gallery">
  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/Celeb-DF-PP" target="_blank"
        >Celeb-DF++ (Arxiv'25)</a
      >
    </h4>
    <p>
      Celeb-DF++: A Large-scale Challenging Video DeepFake Benchmark for
      Generalizable Forensics.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/Celeb-DF-PP" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/Celeb-DF-PP" />
    </p>
  </div>
  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/ForensicsAdapter" target="_blank"
        >Forensics Adapter (CVPR'25)</a
      >
    </h4>
    <p>
      Forensics Adapter: Adapting CLIP for Generalizable Face Forgery Detection.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/ForensicsAdapter" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/ForensicsAdapter" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/FacePoison" target="_blank"
        >FacePoison (TDSC'25)</a
      >
    </h4>
    <p>
      Hiding Faces in Plain Sight: Defending DeepFakes by Disrupting Face
      Detection.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/FacePoison" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/FacePoison" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/TSOM" target="_blank"
        >TSOM (WACV'25)</a
      >
    </h4>
    <p>
      Texture, Shape, Order, and Relation Matter: A New Transformer Design for
      Sequential DeepFake Detection.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/TSOM" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/TSOM" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/HRGR-IMD" target="_blank"
        >HRGR (ICME'25)</a
      >
    </h4>
    <p>
      HRGR: Enhancing Image Manipulation Detection via Hierarchical Region-aware
      Graph Reasoning.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/HRGR-IMD" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/HRGR-IMD" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/stephenivy07/FakeTracer" target="_blank"
        >FakeTracer (TETC'25)</a
      >
    </h4>
    <p>
      FakeTracer: Catching Face-swap DeepFakes via Implanting Traces in
      Training.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/stephenivy07/FakeTracer" />
      <img src="https://img.shields.io/github/forks/stephenivy07/FakeTracer" />
    </p>
  </div>
</div>
<h4>📅 2024</h4>
<div class="gallery">
  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/FreqBlender" target="_blank"
        >FreqBlender (NeurIPS'24)</a
      >
    </h4>
    <p>
      FreqBlender: Enhancing DeepFake Detection by Blending Frequency Knowledge.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/FreqBlender" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/FreqBlender" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/DomainForensics" target="_blank"
        >DomainForensics (TIFS'24)</a
      >
    </h4>
    <p>
      DomainForensics: Exposing Face Forgery across Domains via Bi-directional
      Adaptation.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/DomainForensics" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/DomainForensics" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/ForensicsForest" target="_blank"
        >ForensicsForest Family (TIFS'24)</a
      >
    </h4>
    <p>
      ForensicsForest Family: A Series of Multi-scale Hierarchical Cascade
      Forests for Detecting GAN-generated Faces.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/ForensicsForest" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/ForensicsForest" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/zhangconghhh/COMICS" target="_blank"
        >COMICS (TCSVT'24)</a
      >
    </h4>
    <p>
      COMICS: End-to-end Bi-grained Contrastive Learning for Multi-face Forgery
      Detection.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/zhangconghhh/COMICS" />
      <img src="https://img.shields.io/github/forks/zhangconghhh/COMICS" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/Mumpy" target="_blank"
        >Mumpy (BMVC'24)</a
      >
    </h4>
    <p>
      Mumpy: Multilateral Temporal-view Pyramid Transformer for Video Inpainting
      Detection.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/Mumpy" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/Mumpy" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/DPL" target="_blank">DPL (ACCV'24)</a>
    </h4>
    <p>DPL: Cross-quality DeepFake Detection via Dual Progressive Learning.</p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/DPL" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/DPL" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/OUC-VAS/FastForensics" target="_blank"
        >FastForensics (BMVC'24)</a
      >
    </h4>
    <p>
      FastForensics: Efficient Two-Stream Design for Real-Time Image
      Manipulation Detection.
    </p>
    <p>
      <img src="https://img.shields.io/github/stars/OUC-VAS/FastForensics" />
      <img src="https://img.shields.io/github/forks/OUC-VAS/FastForensics" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/zhangconghhh/AdaNI" target="_blank"
        >AdaNI (CVIU'24)</a
      >
    </h4>
    <p>AdaNI: Adaptive Noise Injection to improve adversarial robustness.</p>
    <p>
      <img src="https://img.shields.io/github/stars/zhangconghhh/AdaNI" />
      <img src="https://img.shields.io/github/forks/zhangconghhh/AdaNI" />
    </p>
  </div>
</div>
<h4>📅 Before 2024</h4>
<div class="gallery">
  <div class="code-card">
    <h4>
      <a
        href="https://github.com/yuezunli/celeb-deepfakeforensics"
        target="_blank"
        >Celeb-DF (CVPR'20)</a
      >
    </h4>
    <p>Celeb-DF: A Large-scale Challenging Dataset for DeepFake Forensics.</p>
    <p>
      <img
        src="https://img.shields.io/github/stars/yuezunli/celeb-deepfakeforensics"
      />
      <img
        src="https://img.shields.io/github/forks/yuezunli/celeb-deepfakeforensics"
      />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/yuezunli/ISSBA" target="_blank"
        >ISSBA (ICCV'21)</a
      >
    </h4>
    <p>Invisible Backdoor Attack with Sample-Specific Triggers.</p>
    <p>
      <img src="https://img.shields.io/github/stars/yuezunli/ISSBA" />
      <img src="https://img.shields.io/github/forks/yuezunli/ISSBA" />
    </p>
  </div>

  <div class="code-card">
    <h4>
      <a href="https://github.com/XianglongHe/FMAA" target="_blank"
        >FMAA (CO & SE'23)</a
      >
    </h4>
    <p>Improving Transferable Adversarial Attack via Feature-Momentum.</p>
    <p>
      <img src="https://img.shields.io/github/stars/XianglongHe/FMAA" />
      <img src="https://img.shields.io/github/forks/XianglongHe/FMAA" />
    </p>
  </div>
</div>
