<h4 class="subhead">PhD students</h4>
<div class="gallery">
  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/jiangjinkun.jpg" />
        <div class="people-item-badge">TIP*1</div>
      </div>
      <div class="description">
        <p>Jinkun Jiang</p>
        <p>姜锦琨</p>
        <p>2025 PhD</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/yuyang.jpg" />
        <div class="people-item-badge">TCSVT*1</div>
      </div>
      <div class="description">
        <p>Yang Yu</p>
        <p>于阳</p>
        <p>2025 PhD</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/zhudelong.jpg" />
        <div class="people-item-badge">TDSC*1</div>
      </div>
      <div class="description">
        <p>Delong Zhu</p>
        <p>朱德龙</p>
        <p>2026 PhD</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>
</div>
<hr />

<h4 class="subhead">Master students</h4>
<div class="gallery">
  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/fumengxin.png" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Mengxin Fu</p>
        <p>符梦鑫</p>
        <p>2024 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/zhangzhengxuan.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Zhengxuan Zhang</p>
        <p>张证炫</p>
        <p>2024 Master</p>
        <p>Image forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/weizihe.jpg" />
        <div class="people-item-badge">MM*1</div>
      </div>
      <div class="description">
        <p>Zihe Wei</p>
        <p>魏子贺</p>
        <p>2024 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/songkeji.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Keji Song</p>
        <p>宋科技</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/hujunmin.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Junmin Hu</p>
        <p>胡俊敏</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/huanghanqing.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Hanqing Huang</p>
        <p>黄汉卿</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/shangkairui.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Kairui Shang</p>
        <p>商恺瑞</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/wangxiang.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Xiang Wang</p>
        <p>王祥</p>
        <p>2025 Master</p>
        <p>Video forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/zhengzhiqiang.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Zhiqiang Zheng</p>
        <p>郑志强</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/wangbin.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Bin Wang</p>
        <p>王斌</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/wangxingping.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Xingping Wang</p>
        <p>王星苹</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/liuyixuan.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Yixuan Liu</p>
        <p>刘懿萱</p>
        <p>2025 Master</p>
        <p>Image forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/xiaokaiyuan.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Kaiyuan Xiao</p>
        <p>肖开元</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/laijunlin.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Junlin Lai</p>
        <p>赖俊霖</p>
        <p>2025 Master</p>
        <p>Face forensics</p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/wanglei.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Lei Wang</p>
        <p>王蕾</p>
        <p>2025 Master</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/zhongyiwei.jpeg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Yiwei Zhong</p>
        <p>钟意伟</p>
        <p>2025 Master</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>

  <div class="person-card">
    <div class="people-item-container">
      <div class="people-item">
        <img src="images/people_img/qinjialong.jpg" />
        <div class="people-item-badge"></div>
      </div>
      <div class="description">
        <p>Qinjia Long</p>
        <p>秦佳龙</p>
        <p>2025 Master</p>
        <p>Vision algorithms</p>
        <p style="font-size: 10px">
          Co-advised with
          <a href="https://it.ouc.edu.cn/djy/main.htm">Prof. Dong</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr />

<h4 class="subhead">Alumni</h4>

<div>
  <table class="alumni">
    <tr>
      <th>Name</th>
      <th>Grade</th>
      <th>Program</th>
      <th>First job</th>
      <th>Achievements &nbsp;<br /></th>
    </tr>

    <tr>
      <td>Delong Zhu（朱德龙）</td>
      <td>2023-2026</td>
      <td>Master</td>
      <td>中国海洋大学（读博）</td>
      <td>TDSC*1, Enterprise Scholarship*1</td>
    </tr>

    <tr>
      <td>Shuaiwei Yuan（袁帅威）</td>
      <td>2023-2026</td>
      <td>Master</td>
      <td>中科曙光</td>
      <td>CVPR*1, Enterprise Scholarship*1</td>
    </tr>

    <tr>
      <td>Xinjie Cui（崔欣洁）</td>
      <td>2023-2026</td>
      <td>Master</td>
      <td>复旦大学（读博）</td>
      <td>TPAMI*1, CVPR*1, Enterprise Scholarship*1</td>
    </tr>

    <tr>
      <td>Qingxuan Lv（吕清轩）</td>
      <td>2021-2025</td>
      <td>PhD</td>
      <td>青岛理工大学</td>
      <td>TIFS*1, TCSVT*2, National Scholarship*1</td>
    </tr>
    <tr>
      <td>Yunfei Li（李云飞）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>哈尔滨工业大学（读博）</td>
      <td>WACV*1 (Oral)</td>
    </tr>
    <tr>
      <td>Zengqiang Chen（陈增强）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>菏泽市招商局</td>
      <td>CCBR*1</td>
    </tr>
    <tr>
      <td>Ying Zhang（张迎）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>⼭东省农村信⽤社联合社</td>
      <td>BMVC*1</td>
    </tr>
    <tr>
      <td>Dongliang Zhang（张东亮）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>招银⽹络科技（杭州）</td>
      <td>ACCV*1</td>
    </tr>
    <tr>
      <td>Yangxiang Zhang（张仰祥）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>中国光⼤银⾏（⻘岛）</td>
      <td>BMVC*1</td>
    </tr>
    <tr>
      <td>Hanzhe Li（李汉哲）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>中国⼯商银⾏江⻄省分⾏</td>
      <td>NeurIPS*1, National Scholarship*1</td>
    </tr>
    <tr>
      <td>Xudong Wang（王旭东）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>美团（北京）</td>
      <td>ICME*1</td>
    </tr>
    <tr>
      <td>Jinkun Jiang（姜锦琨）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>中国海洋大学（读博）</td>
      <td>TIP*1</td>
    </tr>
    <tr>
      <td>Yang Yu（于阳）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>中国海洋大学（读博）</td>
      <td>TCSVT*1</td>
    </tr>
    <tr>
      <td>Tengjia Kang（康腾甲）</td>
      <td>2022-2025</td>
      <td>Master</td>
      <td>哈尔滨工业大学（读博）</td>
      <td>PG*1, National Scholarship*1</td>
    </tr>
    <tr>
      <td>Jiucui Lu（陆久翠）</td>
      <td>2021-2024</td>
      <td>Master</td>
      <td><del>青岛城市学院</del><br />山东大学（读博）</td>
      <td>TIFS*1, ICME*1</td>
    </tr>
  </table>
</div>
