<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Yuezun Li" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>$title</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap1.min.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="css/theme.css" rel="stylesheet" />
$extra_styles
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&amp;display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="icon" type="image/png" href="images/src_img/logo.png" /> -->
  </head>

  <body>
    <div class="container">
$header
$content
    <script src="js/site.js"></script>
  </body>
</html>
